#This file configures Phil. Lines with a # will be ignored
#Note: Be cautious of raising the num_ctx parameter too high based on the LLM you have loaded. This could result in your GPU melting.
set_llm=llama3.2
num_ctx=50000
repeat_last_n=10000
temp=.0
keep_alive=0
mail_forwarding=on
mail_ip= 192.168.1.1
mail_port=1234
