#Information source file. Lists all public sources for information to be pulled from. Lines with # will be ignored. $ will be used to denote different information columns. Sources must be placed within brackets within these columns. 
#If adding new sources; do not include 'https://' in the url. This is added during parsing of the config file.

$Main Stream Media{
https://foxnews.com
https://cnn.com
https://theepochtimes.com
https://newsweek.com/newsfeed
https://ntd.com
https://theguardian.com
https://nytimes.com
https://axios.com
https://bbc.com
}
$Counter Threat Intelligence{
https://theregister.com
https://bleepingcomputer.com
https://thehackernews.com
https://threatpost.com
https://securityweek.com
https://blog.talosintelligence.com
https://darkreading.com/
}
$Defense{
https://defenseone.com
https://breakingdefense.com
https://militarytimes.com
https://realcleardefense.com
https://insidedefense.com
https://defensenews.com/ebb
#test
}
$Finanace{
https://forbes.com
https://cnbc.com
https://finance.yahoo.com
https://marketwatch.com
https://ft.com/news-feed
https://bloomberg.com
https://coindesk.com
}
$Russian Media{
https://eng.globalaffairs.ru/
http://government.ru/en/news/
https://rt.com
https://themoscowtimes.com/
https://tass.com
}
$Cyber Breaches{
#idstrong.com/breach-tracker/
https://theregister.com
https://bleepingcomputer.com
https://thehackernews.com
https://threatpost.com
https://securityweek.com
https://darkreading.com/
}
$Aerospace{
https://reuters.com/business/aerospace-defense/
https://aviationweek.com/
https://aiaa.org/news/industry-news
https://aero-mag.com/
https://aerospaceglobalnews.com/
}
$Threat Actors{
https://theregister.com
https://bleepingcomputer.com
https://thehackernews.com
https://threatpost.com
https://securityweek.com
https://blog.talosintelligence.com
https://darkreading.com/
}
$CVE{
https://www.tenable.com/cve/newest
}
